@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-text {
	text-align: center;
	font-weight: 400;
}
.swal-footer {
	display: flex;
	justify-content: center;
}
* {
	box-sizing: border-box;
}

span {
	text-decoration: blue;
	text-underline-offset: 15px !important;
}
.otpInput input ::placeholder {
	color: red !important;
	opacity: 1;
}

/* ----------------hover menu--------------- */
.service-card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.back {
	background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}
.poster {
	background-image: url("../public/images/base1.png");
	height: 500px;
	width: 100%;
	background-size: cover;
}
.header0 {
	box-shadow: 0px 2px 30px rgba(146, 153, 184, 0.102);
	border-radius: 0.5rem;
}
/* -----------------line--------------------------- */
.line::after {
	content: "";
	border-bottom: 3px solid #803434;
	display: block !important;
	padding-top: 14px;
	width: 60%;
	border-radius: 0px;
}

/* index-page-design */
@media (max-width: 540px) {
	.pop-1 {
		margin-right: 28px;
	}
}
@media (max-width: 420px) {
	.head h3 {
		font-size: 15px;
	}
}
@media (max-width: 420px) {
	.head h3 {
		font-size: 15px;
	}
}
@media (max-width: 600px) and (min-width: 420px) {
	.search-inp {
		top: 0.75rem;
		right: 4px;
	}
}
@media (max-width: 960px) {
	.image-1 {
		width: 500px;
		padding-top: 20px;
	}
}
@media (max-width: 768px) {
	.image-1 {
		width: 400px;
	}
}

.blog-para {
	width: 100%;
	line-height: 1.2rem;
	height: 3.7rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

/* Blogs */

.blogs-list-container > div {
	/* height: 340px; */
	width: calc((100% / 4) - 12px);
}

@media only screen and (max-width: 650px) and (min-width: 0px) {
	.blogs-list-container > div {
		/* height: 300px; */
		width: calc((100% / 1) - 0px);
	}
}
@media only screen and (max-width: 950px) and (min-width: 500px) {
	.blogs-list-container > div {
		/* height: 300px; */
		width: calc((100% / 2) - 12px);
	}
}

/* ---------------------terms-$-conditions----------------------- */
.heading-terms {
	content: "";
	border-bottom: 3px solid #803434;
	display: block !important;
	width: 5%;
	/* border-radius: 20px; */
}
.heading-privacy {
	content: "";
	border-bottom: 2px solid #17365d;
	display: block !important;
	width: 100%;
}

/* blog detail */

/* embla slider  */
.embla {
	--slide-spacing: 1rem;
	--slide-size: 100%;
	--slide-height: 19rem;
}
.embla__viewport {
	overflow: hidden;
}
.embla__container {
	display: flex;
	flex-direction: row;
	height: auto;
	margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	position: relative;
}
.embla__slide__img {
	display: block;
	height: 100vh;
	width: 100%;
	object-fit: cover;
}
.embla__slide__number {
	width: 4.6rem;
	height: 4.6rem;
	z-index: 1;
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
	border-radius: 50%;
	background-color: rgba(var(--background-site-rgb-value), 0.85);
	line-height: 4.6rem;
	font-weight: 500;
	text-align: center;
	pointer-events: none;
}
.embla__slide__number > span {
	color: var(--brand-primary);
	background-image: linear-gradient(
		45deg,
		var(--brand-primary),
		var(--brand-secondary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.6rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.embla__dot,
.embla__button {
	background-color: transparent;
	color: #03a0cb !important;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
}
.embla__dots {
	z-index: 1;
	bottom: 1.2rem;
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.embla__dot {
	width: 0.5rem;
	height: 0.5rem;
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 30px;
}
.embla__dot:after {
	background: #c6d0dc !important;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	content: "";
}
.embla__dot--selected:after {
	background: #03a0cb !important;
	min-width: 14px;
	height: 1rem;
}
.embla__button {
	z-index: 1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	width: 4rem;
	height: 4rem;
}
.embla__button--prev {
	left: -3.6rem;
}
.embla__button--next {
	right: -3.6rem;
}
.embla__button:disabled {
	opacity: 0.3;
}
.embla__button__svg {
	width: 30%;
	height: 30%;
}
/* sandbox */
.sandbox {
	max-width: 67rem;
	margin-left: auto;
	margin-right: auto;
}
.sandbox__carousel {
	background-color: var(--background-code);
}
.sandbox__carousel {
	position: relative;
}
@media (min-width: 750px) {
	.sandbox__carousel {
		border-radius: 0.4rem;
	}
}
.sandbox__header {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 4rem 2rem 2rem 2rem;
}
.sandbox__footer {
	display: flex;
	justify-content: center;
	padding: 2rem 2rem 4rem 2rem;
}
.sandbox__footer__link {
	display: flex;
	align-items: center;
	background-color: transparent;
	text-decoration: none;
	border-radius: 3rem;
	text-align: center;
	font-weight: bold;
	color: var(--text-low-contrast);
	font-size: 1.4rem;
}
.sandbox__footer__link__svg {
	display: block;
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
	fill: currentColor;
}
.embl {
	overflow: hidden;
}
.embl__container {
	display: flex;
	gap: 2rem;
}
.embl__slide {
	flex: 0 0 auto;
	min-width: 0;
}
.CalendarDay__selected_start_no_selected_end {
	background-color: #803434 !important;
}
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
	background-color: #803434 !important;
}
.CalendarDay__selected_span {
	background-color: #8034349d !important;
	border: 1px double #803434 !important;
}
.DayPickerKeyboardShortcuts_buttonReset {
	content-visibility: hidden;
}
.MuiAccordionDetails-root {
	padding: 0px 1px 0px 0px !important;
}
/* -------------employee-plans-media-queri------------- */
#myTag:hover {
	border: 2px solid red !important;
}
.redBorder {
	border: 1px solid red;
}
/* ------------------dashboard-footer-media-query------------- */
@media (max-width: 600px) {
	#containerfooter {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
input[type="date"]::before {
	color: #666666;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}
input[type="calenderdate"]::before {
	color: #666666;
	content: attr(placeholder);
}
input[type="calenderdate"] {
	color: #ffffff;
}
input[type="calenderdate"]:focus,
input[type="calenderdate"]:valid {
	color: #666666;
}
input[type="calenderdate"]:focus::before,
input[type="calenderdate"]:valid::before {
	content: "" !important;
}
.swal-button--cancel {
	padding: 10px;
}
.lists ol {
	list-style: decimal !important;
	margin: 14.4px 0px !important;
	padding: 0px 0px 0px 40px;
}
.lists ul {
	list-style-type: disc !important;
	margin: 14.4px 0px !important;
	padding: 0px 0px 0px 40px;
}

/* chat */

img.recipient-img {
	object-fit: cover;
	width: 45px;
	height: 45px;
	border-radius: 100%;
}

.hand {
	display: flex;
	width: 20rem;
}

.top-hand {
	/* margin-bottom: 2%; */
	/* margin-top: 2%; */
	border-radius: 10px;
	border: none;
	/* padding: 10px; */
	cursor: pointer;
}

.bottom-hand {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 30%;
}

.chat-side {
	margin-left: 3%;
	margin-top: 2%;
}

.top-hand {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid red; */
}

p.name-chat {
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	text-align: initial;
	color: #495057;
	margin-bottom: 0.5rem;
}

button.chat-btn {
	border: none;
	/* border-radius: 10px; */
	/* margin-bottom: 2%; */
	/* margin-top: 1%; */
	/* background-color: transparent; */
}

button.chat-btn:hover {
	/* background-color: #aaa; */
}

p.min-ago {
	font-size: 1rem;
	margin-top: 5px;
}

p.unread {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	margin-top: 0.8rem;
	width: 25px;
	height: 25px;
	background-color: #82d616;
	border-radius: 100%;
	color: #fff;
}

.left-side inpu {
	width: 25rem;
	height: 3rem;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 25px;
	background: #ffffff;
	border: 1px solid #fff;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.left-side input:focus {
	outline: none;
}

.left-side p.conver {
	font-size: 0.8rem;
}

p.coverLeng {
	font-size: 1.8rem;
}

.left-side {
	/* border-right: 1px solid #aaa; */
	border-bottom: none;
	/* padding: 10px; */
	/* margin-right: 10px; */
	height: 53rem !important;
}

.recipients-main-div {
	/* overflow: scroll; */
	/* background-color: #fcfcff !important; */
}

.right-side {
	display: flex;
	background-color: white;
	flex-direction: column;
	position: relative;
	height: 100vh;
	width: 100%;
}

.chat-main-div {
	height: 53rem !important;
}

.chat-header-active {
	display: flex;
	margin-bottom: 2%;
	padding-left: 1%;
	align-items: center;
}

img.active-img {
	object-fit: cover;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

p.active-email {
	font-size: 1.5rem;
	color: #404040;
	margin-left: 2rem;
}

.send-div {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: -30px;
	width: 100%;
	justify-content: space-between;
	background: white;
	height: 70px;
	padding-left: 2%;
	padding-right: 2%;
	border-top: 1px solid #eff2f7;
}

input.send-input {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
	background-color: #eff2f7;
	display: flex;
	justify-content: center;
	height: 2.8rem;
	width: 97%;
}

input.send-input:focus {
	outline: none;
}
.msg-top {
	display: flex;
	margin-top: 0.5rem;
	max-width: 70%;
	margin-bottom: 0.5rem;
	align-items: center;
}

.msg-inner {
	width: 3rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-self: flex-start;
}

img.msg-img {
	width: 100%;
	height: 3rem;
	object-fit: cover;
	border-radius: 100%;
}

.real-msg {
	display: flex;
	border-radius: 5px;
	padding: 10px;
	overflow-wrap: anywhere;
	width: 15rem;
	font-size: 1.5rem;
	color: #404040;
}

.date-msg {
	color: #aaa;
	font-size: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.scrolldiv {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 39.5rem;
	margin-bottom: 6%;
}

p.chat-msg {
	font-size: 13px;
	line-height: 19.5px;
	font-weight: 400;
	text-align: initial;
	color: #74788d;
	display: flex;
	justify-content: flex-start;
}
/* ------------------- Media Query ------------------------------ */

@media only screen and (max-width: 400px) and (min-width: 279px) {
	img.recipient-img {
		object-fit: cover;
		width: 10px;
		height: 10px;
		border-radius: 100%;
	}

	.hand {
		display: flex;
		width: 7rem;
	}

	.top-hand {
		margin-bottom: 2%;
		margin-top: 2%;
		border-radius: 10px;
		border: none;
		padding: 2px;
		cursor: pointer;
	}

	.bottom-hand {
		display: flex;
		flex-direction: column;
		width: 30%;
	}

	.chat-side {
		margin-left: 3%;
		margin-top: 2%;
	}

	.top-hand {
		display: flex;
		justify-content: space-between;
		/* border: 1px solid red; */
	}

	p.name-chat {
		font-size: 4px;
		color: #404040;
		margin-bottom: 0rem;
	}

	p.chat-msg {
		font-size: 4px;
	}

	button.chat-btn {
		border: none;
		border-radius: 5px;
		margin-bottom: 2%;
		margin-top: 1%;
		width: 7rem;
		/* background-color: transparent; */
	}

	button.chat-btn:hover {
		/* background-color: wi; */
	}

	p.min-ago {
		font-size: 2px;
	}

	p.unread {
		font-size: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		margin-top: 0;
		width: 10px;
		height: 10px;
	}

	.left-side input {
		width: 70px;
		height: 10px;
		font-size: 6px;
		padding-left: 2px;
		padding-right: 2px;
		border-radius: 2px;
		border: 0.5px solid #aaa;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.left-side input:focus {
		outline: none;
	}

	.left-side p.conver {
		font-size: 7px;
	}

	p.coverLeng {
		font-size: 7px;
	}

	.left-side {
		border-right: 0.1px solid #aaa;
		border-bottom: none;
		padding: 3px;
		margin-right: 3px;
		height: 34rem !important;
	}

	.recipients-main-div {
		/* overflow: scroll; */
	}

	.right-side {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 40vh;
		width: 100%;
	}

	.chat-main-div {
		height: 34rem !important;
	}

	.chat-header-active {
		display: flex;
		margin-bottom: 2%;
		padding-left: 1%;
		align-items: center;
	}

	img.active-img {
		object-fit: cover;
		width: 15px;
		height: 15px;
		border-radius: 100%;
	}

	p.active-email {
		font-size: 5px;
		color: #404040;
		margin-left: 0.5rem;
	}

	.send-div {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 0px;
		width: 100%;
		justify-content: space-between;
		background: #f5f9fc;
		height: 20px;
		padding-left: 3%;
		border-radius: 30px;
	}

	input.send-input {
		padding-left: 2px;
		padding-right: 2px;
		border-radius: 2px;
		border: 1px solid #aaa;
		position: relative;
		display: flex;
		justify-content: center;
		height: 1rem;
		width: 97%;
		font-size: 5px;
	}

	input.send-input:focus {
		outline: none;
	}

	img.chat-send-img {
		position: absolute;
		right: 1rem;
		width: 4px;
		height: 4px;
	}

	.msg-top {
		display: flex;
		margin-top: 0.5rem;
		max-width: 70%;
		margin-bottom: 0.5rem;
		align-items: center;
	}

	.msg-inner {
		width: 5px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		display: flex;
		justify-content: center;
		align-self: flex-start;
	}

	img.msg-img {
		width: 100%;
		height: 5px;
		object-fit: cover;
		border-radius: 100%;
	}

	.real-msg {
		display: flex;
		border-radius: 2px;
		padding: 2px;
		overflow-wrap: anywhere;
		width: 8rem;
		font-size: 5px;
		color: #404040;
	}

	.date-msg {
		color: #aaa;
		font-size: 3px;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.scrolldiv {
		display: flex;
		flex-direction: column;
		overflow: scroll;
		width: 100%;
		height: 39.5rem;
		/* border: 1px solid red; */
	}
}

@media only screen and (max-width: 800px) and (min-width: 401px) {
	img.recipient-img {
		object-fit: cover;
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}

	.hand {
		display: flex;
		width: 15rem;
	}

	.top-hand {
		margin-bottom: 2%;
		margin-top: 2%;
		border-radius: 10px;
		border: none;
		padding: 8px;
		cursor: pointer;
	}

	p.chat-msg {
		font-size: 0.8rem !important;
	}

	.bottom-hand {
		display: flex;
		flex-direction: column;
		width: 30%;
	}

	.chat-side {
		margin-left: 3%;
		margin-top: 2%;
	}

	.top-hand {
		display: flex;
		justify-content: space-between;
		/* border: 1px solid red; */
	}

	p.name-chat {
		font-size: 0.8rem;
		color: #404040;
		margin-bottom: 0.5rem;
	}

	button.chat-btn {
		border: none;
		border-radius: 10px;
		margin-bottom: 2%;
		margin-top: 1%;
		/* background-color: transparent; */
		width: 15rem;
	}

	button.chat-btn:hover {
		/* background-color: #aaa; */
	}

	p.min-ago {
		font-size: 0.5rem;
	}

	p.unread {
		font-size: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		margin-top: 0.8rem;
		width: 15px;
		height: 15px;
	}

	.left-side input {
		width: 15rem;
		height: 2rem;
		font-size: 1rem;
		padding-left: 10px;
		padding-right: 5px;
		border-radius: 5px;
		border: 1px solid #aaa;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	.left-side input:focus {
		outline: none;
	}

	.left-side p.conver {
		font-size: 1.3rem;
	}

	p.coverLeng {
		font-size: 1.3rem;
	}

	.left-side {
		border-right: 1px solid #aaa;
		border-bottom: none;
		padding: 10px;
		margin-right: 10px;
		height: 62rem !important;
	}

	.recipients-main-div {
		/* overflow: scroll; */
		/* background-color: #fcfcff !important; */
	}

	.right-side {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 70vh;
		width: 100%;
	}

	.chat-main-div {
		height: 62rem !important;
	}

	.chat-header-active {
		display: flex;
		margin-bottom: 2%;
		padding-left: 1%;
		align-items: center;
	}

	img.active-img {
		object-fit: cover;
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}

	p.active-email {
		font-size: 1rem;
		color: #404040;
		margin-left: 1rem;
	}

	.send-div {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: -30px;
		width: 100%;
		justify-content: space-between;
		background: #f5f9fc;
		height: 70px;
		padding-left: 3%;
		border-radius: 10px;
	}

	input.send-input {
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 5px;
		border: 1px solid #aaa;
		position: relative;
		display: flex;
		justify-content: center;
		height: 2.5rem;
		width: 97%;
		font-size: 1rem;
	}

	input.send-input:focus {
		outline: none;
	}

	img.chat-send-img {
		position: absolute;
		right: 2rem;
		width: 15px;
		height: 15px;
	}

	.msg-top {
		display: flex;
		margin-top: 0.5rem;
		max-width: 70%;
		margin-bottom: 0.5rem;
		align-items: center;
	}

	.msg-inner {
		width: 2rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		display: flex;
		justify-content: center;
		align-self: flex-start;
	}

	img.msg-img {
		width: 100%;
		height: 1.5rem;
		object-fit: cover;
		border-radius: 100%;
	}

	.real-msg {
		display: flex;
		border-radius: 5px;
		padding: 5px;
		overflow-wrap: anywhere;
		width: 15rem;
		font-size: 0.9rem;
		color: #404040;
	}

	.date-msg {
		color: #aaa;
		font-size: 0.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.scrolldiv {
		display: flex;
		flex-direction: column;
		overflow: scroll;
		width: 100%;
		height: 52rem;
		/* border: 1px solid red; */
	}
}
